
.sidebar {
  float: left;
  position: absolute;
  width:20%;
  left: 0px;
  top: 0px;
  bottom: 0px;
  
  /* white */
  
  background: #FFFFFF;
  /* sidebar shadow */
  
  box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
   
  }
  
  .sidebarWrapper {
    padding: 20px;
    color: #555;
  }
  
  .sidebarMenu {
    margin-bottom: 10px;
  }
  .topLeft{
    text-align: center;
  }
  .logo {
    font-weight: bold;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
  }
  
  .sidebarList {
    list-style: none;
    padding: 5px;
    margin: 2px;
    background-color: rgb(240, 240, 255);
    border-radius: 20px;
  }
  
  .sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  
  .sidebarListItem.active,
  .sidebarListItem:hover {
    background-color: rgb(240, 240, 255);
  }
  
  .sidebarIcon{
      margin: 5px;
      font-size: 20px !important;
  }
  .img{
    background-color: antiquewhite;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
  }